In [9]:
import pandas as pd
dataset = pd.read_csv('../data/dataset.csv', sep='\t', header=None).applymap(str)
dataset.columns = ["Language","label","text"]
languagesData=[]
loc = 0
languages = dataset[dataset.columns[0]].unique()
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.Language == i])
    loc += 1
    
    
# Rename Dataset Columns
dataset.columns = ["language","label","text"]
dataset.head()
languagesData=[]
loc = 0
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.language == i])
    loc += 1

# Arabic Data translated into english

In [15]:
import pandas as pd
arabicTranslated = pd.read_csv('./Data/arabicTranslated.csv',header=None)
arabicTranslated.columns = ["text"]
arabicTranslated.head()
arabicTranslated["label"] = list(arabicData["label"])
arabicTranslated.head()

                                                text          label
0  Today on the ON channel 2 the Egyptian league ...  entertainment
1  Hwasa asks about her favorite member of the Bi...  entertainment
2  He was a biter who respected the state and my ...  entertainment
3  Boom salutes her fans as an artist from DNA fo...  entertainment
4  Team F and Arab Contractors team to face them ...  entertainment

In [21]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/frenchTranslated_mah.csv',header=None)
frenchTranslated.columns = ["text"]
frenchTranslated.head()
frenchTranslated["label"] = list(frenchData["label"])
frenchTranslated.head()

                                                text        label
0  GEEK The U.S. Government prohibits its employe...  advertising
1  OlivierThe most interesting chip of the lot sh...  advertising
2  PEOPLE Mélanie Da Cruz maman Anthony Martial p...  advertising
3  Saudi Arabia More than two million faithful st...  advertising
4  August 2018 at 1016 a.m.  By El Mehdi BerradaM...  advertising

In [ ]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/frenchTranslated_mah.csv',header=None)
frenchTranslated.columns = ["text"]
frenchTranslated.head()
frenchTranslated["label"] = list(frenchData["label"])
frenchTranslated.head()