In [1]:
import pandas as pd
dataset = pd.read_csv('../data/dataset.csv', sep='\t', header=None).applymap(str)
dataset.columns = ["Language","label","text"]
languagesData=[]
loc = 0
languages = dataset[dataset.columns[0]].unique()
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.Language == i])
    loc += 1
    
    
# Rename Dataset Columns
dataset.columns = ["language","label","text"]
dataset.head()
languagesData=[]
loc = 0
for i in languages:
    name = languages[loc]+"Data" 
    globals()[name] = pd.DataFrame( dataset[dataset.language == i])
    loc += 1

# Arabic Data translated into english

In [2]:
import pandas as pd
arabicTranslated = pd.read_csv('./Data/arabicTranslated.csv',header=None)
arabicTranslated.columns = ["text"]
arabicTranslated.head()
arabicTranslated["label"] = list(arabicData["label"])
arabicTranslated.head()

                                                text          label
0  Today on the ON channel 2 the Egyptian league ...  entertainment
1  Hwasa asks about her favorite member of the Bi...  entertainment
2  He was a biter who respected the state and my ...  entertainment
3  Boom salutes her fans as an artist from DNA fo...  entertainment
4  Team F and Arab Contractors team to face them ...  entertainment

In [26]:
arabicTranslated.to_csv('./Data/arabicTranslated2.csv')

# French Data

In [24]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/frenchTranslated_mah.csv')
#renchTranslated.columns = ["text"]
# frenchTranslated.head()
# frenchTranslated["label"] = list(frenchData["label"])
frenchTranslated.head()

   Unnamed: 0                                               text        label
0           0  GEEK The U.S. Government prohibits its employe...  advertising
1           1  OlivierThe most interesting chip of the lot sh...  advertising
2           2  PEOPLE Mélanie Da Cruz maman Anthony Martial p...  advertising
3           3  Saudi Arabia More than two million faithful st...  advertising
4           4  August 2018 at 1016 a.m.  By El Mehdi BerradaM...  advertising

# Spanish Data

In [12]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/spanishTranslated.csv',header=None)
frenchTranslated.columns = ["text"]
frenchTranslated.head()
frenchTranslated["label"] = list(spanishData["label"])
frenchTranslated.to_csv('./Data/spanishTranslated2.csv')
frenchTranslated.head()

                                                text        label
0  MEXICO CITY (APL) Miguel Angel Marin deputy co...  advertising
1  the closing of the Central American Games on C...  advertising
2  Gerardo Axel N located by authorities as the s...  advertising
3  In 2009 the movement headed by Andres Manuel L...  advertising
4  MEXICO CITY Reuters The Institute of Administr...  advertising

# Turkish Data

In [11]:
import pandas as pd
frenchTranslated = pd.read_csv('./Data/turkishData.csv',header=None)
frenchTranslated.columns = ["text"]
frenchTranslated.head()
frenchTranslated["label"] = list(turkishData["label"])
frenchTranslated.to_csv('./Data/turkishData2.csv')